<mat-grid-list [style.background]="'lightblue'" cols="16" rowHeight="100px">
  <mat-grid-tile [colspan]="1">
    <button
      mat-mini-fab
      color="accent"
      (click)="onSidenavClick()"
      [isIconButton]="true"
    >
      <mat-icon [svgIcon]="'menu'"></mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">Logo</mat-grid-tile>
  <mat-grid-tile [colspan]="6">
    <form>
      <mat-form-field>
        <mat-label>Search Products</mat-label>
        <input
          [formControl]="searchbar"
          matInput
          placeholder="Ex. Electronics"
          type="text"
        />
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" *ngIf="cart$ | async as cart">
    <button mat-icon-button [isIconButton]="true" (click)="onCartClick()">
      <mat-icon [matBadge]="cart.length" matBadgeColor="warn">
        <mat-icon [svgIcon]="'cart'"></mat-icon>
      </mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3">Account</mat-grid-tile>
  <!-- TODO: add side nav component-->
</mat-grid-list>
